<!DOCTYPE html>
<html>
	<% include common/header.ejs %>

	<body>

		<% include common/nav.ejs %>

		<!-- Section 1 | HOME -->
		<div id="home" class="home">
			<div class="text-vcenter">
				<h1>Hello World</h1>
				<h3>This is a bootstrap-based layout</h3>
				<a href="#about" class="btn btn-default brn-lg">Continue</a>
			</div>
		</div>

		<!-- Section 2 | About -->
		<div id="about" class="pad-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<img src="/images/tupperware-logo.png" alt="logo">
					</div>

					<div class="col-sm-6 text-center">
						<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet.</h2>
				        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum metus et ligula venenatis, at rhoncus nisi molestie. Pellentesque porttitor elit suscipit massa laoreet metus.</p>
					</div>
				</div>
			</div>
		</div>


	</body>
</html>
