<!DOCTYPE html>
<html>
	<% include common/header.ejs %>

	<body>

		<% include common/nav.ejs %>

		<!-- Section 1 | HOME -->
		<div id="home" class="home">
			<div class="text-vcenter">
				<h1>Velkommen!</h1>
				<h3>Her finner du informasjon om hvordan du kan holde ett tupperware party!</h3>
				<a href="#about" class="btn btn-default brn-lg">Les mer!</a>
			</div>
		</div>

		<!-- Section 2 | About -->
		<div id="about" class="pad-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<img src="/images/tupperware-logo.png" alt="logo">
					</div>

					<div class="col-sm-6 text-center">
						<h2>Hva er ett party?</h2>
						<p class="lead">Det er en sosial kveld med venner og familie der dere for presenter nye og velkjente produkter. I tilegg blir dere garantert inspirert til å prøve noe nytt!</p>
					</div>
				</div>
			</div>
		</div>

		<!-- third section - Services -->
		<div id="host" class="pad-section">
		  <div class="container">
		    <h2 class="text-center">Fiks ett party!</h2> <hr />
		    <div class="row text-center">
		      <div class="col-sm-3 col-xs-6">
		        <i class="glyphicon glyphicon-phone-alt"> </i>
		        <h4>1. Venner og familie</h4>
		        <p>Samle venner og familie til en sosial kveld med mye morro.</p>
		      </div>
		      <div class="col-sm-3 col-xs-6">
		        <i class="glyphicon glyphicon-calendar"> </i>
		        <h4>2. Book party</h4>
		        <p>Ta kontakt med meg og vi finner en kveld det passer.</p>
		      </div>
		      <div class="col-sm-3 col-xs-6">
		        <i class="glyphicon glyphicon-check"> </i>
		        <h4>3. Bestem tema</h4>
		        <p>Gjør noe ekstra ut av det og ha et tema for kvelden!</p>
		      </div>
		      <div class="col-sm-3 col-xs-6">
		        <i class="glyphicon glyphicon-glass"> </i>
		        <h4>4. Party!</h4>
		        <p>Når kvelden er der kommer jeg hjem til deg med produkter og godt humør! </p>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- /third section -->

		<!-- fourth section - Information -->
		<div id="gifts" class="pad-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 text-center">
						<h1>Bonus for deg!</h1>
						<p class="lead">Du som vertinne får en bonus hvis partyet er vellykket! Er salget stort nok har du muligheten til å velge deg noe ekstra fint fra ukens vertinne gaver.</p>
					</div>

					<div class="col-sm-6 text-center">
						<img src="/images/Modular_mates_one_touch.jpg">
					</div>
				</div>
			</div>
		</div>

		

		<!--<div id="information" class="pad-section">
		  <div class="container">
		    <div class="row">

		      <div class="col-sm-6">
		        <div class="panel panel-default">
		          <div class="panel-heading">
		            <h2 class="panel-title">Bonus for deg</h2>
		          </div>
		          <div class="panel-body lead">
		            Du som vertinne får en bonus hvis partyet er vellykket! Er salget stort nok har du muligheten til å velge deg noe ekstra fint fra ukens vertinne gaver.
		          </div>
		        </div>
		      </div>

		      <div class="col-sm-6">
		        <div class="panel panel-default">
		          <div class="panel-heading">
		            <h2 class="panel-title">Additional information</h2>
		          </div>
		          <div class="panel-body lead">
		            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet. 
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div> -->
		<!-- /fourth section -->

		<!-- fifth section -->
		<div id="services" class="pad-section">
		  <div class="container">
		    <div class="row">
		      <div class="col-sm-12 text-center">
		        <h3>Parallax scrolling effect is in action</h3>
		        <h4>The next is the address on Google maps</h4>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- /fifth section -->

		<!-- google map -->
		<div id="google_map"></div>
		<!-- /google map -->

		<!-- footer -->
		<footer>
		  <hr />
		  <div class="container">
		    <p class="text-right">Copyright &copy; Your Company 2016</p>
		  </div>
		</footer>
		<!-- /footer -->



	</body>
</html>
